/* reset margin body */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: inherit; /* écart entre les lignes */
  color: inherit;
  font: inherit;
  list-style: none;


}

/* global */
/*a {
  text-decoration: none;
}*/

/* end reset */